.welcome_intro {
  width: 90vw;
  padding: 0rem 0rem 0 0;
  text-align: center;
}
.welcome_intro p {
  font-size: 1.5rem;
}

.welcome_svg {
  height: 25vw;
  overflow: hidden;
}

.hero_title {
  font-size: calc((100vw / 150) + 36px);
  text-align: center;
}

.hero_titles {
  font-size: calc((100vw / 150) + 36px);
  text-align: center;
  font-family: "华文行楷";
}

.buttons {
  display: flex;
  align-items: center;
  border: 0;
}

@media screen and (max-width: 996px) {
  .main-wrapper {
    margin: 0;
    padding: 0;
  }

  .hero {
    margin: 0;
    padding: 0;
  }

  .hero_title {
    font-size: 1.8rem;
    text-align: center;
  }
  .welcome_svg {
    width: 90vw;
    height: 90vw;
  }
  .welcome_intro {
    width: auto;
    padding: 0 1rem 0 1rem;
  }
  .welcome_intro p {
    font-size: 1.2rem;
  }
}

.mains {
  position: relative;
}

.mains img.QRcode {
  position: absolute;
  z-index: 0;
  top: 15px;
  right: 0px;
  width: 1000px;
  height: auto;
  transform: scale(1);
  transform-origin: top center;
  opacity: 0;
  border: 1px solid #1296db;
  border-radius: 0.25rem;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.mains:hover img.QRcode {
  transform: scale(3);
  opacity: 1;
  display: block;
}

.logo {
  width: 50px;
  height: 50px;
}
