.welcome_intro {
  width: 50vw;
  padding: 3rem 5rem 0 0;
  text-align: center;
}
.welcome_intro p {
  font-size: 1.5rem;
}

.welcome_svg img {
  height: 41vw;
  padding-top: 1rem;
}

.hero_title {
  font-size: calc((100vw / 150) + 36px);
  text-align: center;
}

.buttons {
  display: flex;
  align-items: center;
  border: 0;
}

@media screen and (max-width: 996px) {
  .hero_title {
    font-size: 1.8rem;
    text-align: center;
  }
  .welcome_svg img {
    width: 50vh;
    height: 50vh;
  }
  .welcome_intro {
    width: auto;
    padding: 3rem 3rem 0;
  }
  .welcome_intro p {
    font-size: 1.2rem;
  }
}

.mains {
  position: relative;
}

.mains img.QRcode {
  position: absolute;
  z-index: 0;
  top: 15px;
  right: 0px;
  width: 1000px;
  height: auto;
  transform: scale(1);
  transform-origin: top center;
  opacity: 0;
  border: 1px solid #1296db;
  border-radius: 0.25rem;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.mains:hover img.QRcode {
  transform: scale(3);
  opacity: 1;
  display: block;
}

.logo {
  width: 50px;
  height: 50px;
}
