.welcome_intro {
  width: 90vw;
  padding: 0rem 0rem 0 0;
  text-align: center;
}
.welcome_intro p {
  font-size: 1.5rem;
}

.welcome_svg {
  height: 25vw;
  overflow: hidden;
  padding: 0 0 0 0;
}

.hero_title {
  font-size: calc((100vw / 150) + 36px);
  text-align: center;
}

.hero_titles {
  font-size: calc((100vw / 150) + 36px);
  text-align: center;
  font-family: "华文行楷";
}

.buttons {
  display: flex;
  align-items: center;
  border: 0;
}

@media screen and (max-width: 996px) {
  .main-wrapper {
    margin: 0;
    padding: 0;
  }

  .hero {
    margin: 0;
    padding: 0;
  }

  .hero_title {
    font-size: 1.8rem;
    text-align: center;
  }
  .welcome_svg {
    width: 90vw;
    height: 90vw;
  }
  .welcome_intro {
    width: auto;
    padding: 0 1rem 0 1rem;
  }
  .welcome_intro p {
    font-size: 1.2rem;
  }

  /* 图页 */
  .shell {
    width: 90%;
    height: 700px;
    display: flex;
  }

  .box {
    flex: 1;
    overflow: hidden;
    transition: 1s;
    margin: 0;
    padding: 0;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    border: 1px solid #fff;
    background-color: #fff;
  }

  .box > img {
    width: 200%;
    height: 95%;
    object-fit: cover;
    transition: 1s;
  }

  .box > span {
    color: var(--ifm-color-primary);
    font: 100 30px "华文行楷";
    text-align: center;
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .img {
    width: 25px;
  }

  .box:hover {
    flex-basis: 60%;
  }

  .box:hover > img {
    width: 100%;
    height: 100%;
  }
}

/* 二维码显示 */
.mains {
  position: relative;
}

.mains img.QRcode {
  position: absolute;
  z-index: 0;
  top: 15px;
  right: 0px;
  width: 1000px;
  height: auto;
  transform: scale(1);
  transform-origin: top center;
  opacity: 0;
  border: 1px solid var(--ifm-color-primary);
  border-radius: 0.25rem;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.mains:hover img.QRcode {
  transform: scale(3);
  opacity: 1;
  display: block;
}

.logo {
  width: 50px;
  height: 50px;
}

/* 图页 */
.shell {
  width: 90%;
  height: 850px;
  display: flex;
}

.box {
  flex: 1;
  overflow: hidden;
  transition: 1s;
  margin: 0 5px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  border: 1px solid #fff;
  background-color: #fff;
}

.box > img {
  width: 200%;
  height: 95%;
  object-fit: cover;
  transition: 1s;
}

.box > span {
  color: var(--ifm-color-primary);
  font: 100 30px "华文行楷";
  text-align: center;
  height: 5%;
  display: flex;
  justify-content: center;
  align-items: left;
  margin-top: -5px;
}

.boxIcon {
  width: 30px;
}

.box:hover {
  flex-basis: 40%;
}

.box:hover > img {
  width: 100%;
  height: 100%;
}
